@model IEnumerable<MVCCinemaProgramme.Models.Programme>

@{
    ViewData["Title"] = "Cinnema's Programme";
}

<h1>Cinema's Programme</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hall.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Begin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hall.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Begin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Check out the movie</a>
            </td>
        </tr>
}
    </tbody>
</table>
